@font-face {
    font-family: 'Inter ExtraBold',sans-serif; 
    src: url('fonts/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

body{
    background:#96570fea;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:#aca28cfb;
    padding:40px;
    width:100%;
    border-radius:15px;
    text-align:center;
    color:white;
    max-width: 350px;
    
}

.perfil{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:30px;
}

h1{
    font-size:22px;
    margin-bottom:5px;
    color:#dd6312;
}

.local{
    color:#dd6312;
    font-size:14px;
    margin-bottom:20px;
}

.bio{
    font-size:14px;
    color:#ccc;
    margin-bottom:25px;
    color:#dd6312;
}

.links a{
display:block;
text-decoration:none;
background:#333;
color:#dd6312;
padding:12px;
margin:20px 10px 0 ;
border-radius:10px;
font-weight:bold;
position:relative;
overflow:hidden;
transition:0.3s;

}

.links a:hover{
color:#b68419ee;
background:#111;
animation:fire 1s infinite alternate;
}


@keyframes fire{

0%{
box-shadow:
0 0 5px #ff3c00,
0 0 10px #ff3c00,
0 0 15px #ff6a00,
0 0 20px #ff6a00;
}

25%{
box-shadow:
0 0 10px #ff6a00,
0 0 20px #ff6a00,
0 0 30px #ffae00,
0 0 40px #ffae00;
}

50%{
box-shadow:
0 0 15px #ff3c00,
0 0 30px #ff6a00,
0 0 45px #ffae00,
0 0 60px #ff6a00;
}

75%{
box-shadow:
0 0 10px #ff6a00,
0 0 20px #ffae00,
0 0 35px #ff6a00,
0 0 50px #ff3c00;
}

100%{
box-shadow:
0 0 5px #ff3c00,
0 0 15px #ff6a00,
0 0 25px #ffae00,
0 0 35px #ff6a00;
}

}

@media (max-width:768px){

.card{
padding:30px;
}

h1{
font-size:20px;
}

.bio{
font-size:13px;
}

}


@media (max-width:480px){

.card{
padding:25px;
max-width:300px;
}

.perfil{
width:80px;
height:80px;
}
}