body{
    background-color:rgb(192, 192, 44);
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;

}
.hero{
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(255, 0, 0);
}

.title{
    font-size: 3rem;
    color: #213547;
    margin-bottom: 10px;
}

.subtitle{
    font-size: 1.5rem;
    color: #646cff;
}

.features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}
.card{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.card:hover{
    transform: translateY(-5px);
    border-color: rgb(39, 29, 95) ;
}
.card h3{
    color: #213547;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.card p {
    font-size: 0.95rem;
    color: #555;
}