:root {
  --green400: hsl(172, 67%, 45%);
  --green900: hsl(183, 100%, 15%);
  --grey500: hsl(186, 14%, 43%);
  --grey400: hsl(184, 14%, 56%);
  --grey200: hsl(185, 41%, 84%);
  --grey50: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

body {
  background: var(--grey200);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
}

.logo {
  color: var(--green900);
  letter-spacing: 10px;
  margin-bottom: 40px;
}

.container {
  background: var(--white);
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 900px;
}
.input-wrapper .icon{
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%)
}
.input-wrapper{
  position:relative ;
}

.input-wrapper input{
  padding-left:45px;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  color: var(--grey500);
  font-weight: 700;
}

input {
  font-size: 24px;
  padding: 10px;
  border: none;
  background: var(--grey50);
  border-radius: 6px;
  text-align: right;
  width: 100%;
}

.tip-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.tip-buttons button,
.tip-buttons input {
  width: 100%;
  height: 48px;
  font-size: 24px;
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tip-buttons button {
  background: var(--green900);
  color: white;
  cursor: pointer;
}

.tip-buttons button:hover {
  background: var(--green400);
}

.tip-buttons input {
  background: var(--grey50);
  text-align: center;
}

#customTip{
  font-size: 15px;
  color: var(--grey500);

}

.result {
  background: var(--green900);
  color: white;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.result-line span {
  color: var(--grey400);
  font-size: 12px;
}

.result-line h2 {
  color: var(--green400);

  font-size: 32px;
}

.form-group label{
  display:flex;
  justify-content:space-between;
}

#error{
  color:red;
  font-size:12px;
}

#reset {
  background: var(--green400);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
}

#reset:hover {
  opacity: 0.8;
}

/* DESKTOP */
@media (min-width:800px){

    .container{
        flex-direction:row;
    }
    .calculator{
        flex:1;
    }

    .result{
        flex:1;
    }

  .tip-buttons{
 grid-template-columns:repeat(3,1fr);
}

}